[Unit]
Description=Runs basedcount_bot
Wants=basedcount_bot_backup.service
After=default.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
WorkingDirectory=%h/Bots/basedcount_bot
ExecStart=%h/Bots/basedcount_bot/basedcount_bot.py
Restart=always
RestartSec=15s

[Install]
WantedBy=default.target
