[Unit]
Description=Runs basedcount_bot
Wants=basedcount_bot_backup.service
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/Bots/basedcount_bot
ExecStart=/root/Bots/basedcount_bot/basedcount_bot.py
Restart=always
RestartSec=15s

[Install]
WantedBy=multi-user.target
