[Unit]
Description=Runs basedcount_bot backup and cheating
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
WorkingDirectory=%h/Programming/Bots/basedcount_bot/backup_and_cheating
ExecStart=%h/Programming/Bots/basedcount_bot/backup_and_cheating/back_up_and_cheating.py

[Install]
WantedBy=default.target
